.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }
}

.links {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 60px;
  justify-content: center;
  li {
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid var(--green);
    }
  }
}